.App {
  text-align: center;
  padding: 0px 20px;
  height: 100%;
  background-color: #193D4B;
  color: white;
  accent-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 44px;
}

input.stay-days {
  width: 100%;
  height: 44px;
}

.white-theme {
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff9c;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.dark-theme {
  color: #000;
}

.nav-link {
  color: #fff !important;
}

.nav-link.active {
  background-color: #0d6efd !important;
  border: none !important;
}

.preset-badge {
  background-color: #6c757d;
  width: 100%;
  color: #fff;
  border-radius: 50rem;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0.35em 0.15em;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.expand-bar {
  height: 100%;
  background-color: #282c34;
  width: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.journey-style-placeholder-2 {
  width: 100%;
  aspect-ratio: 5 / 4;
  margin-bottom: -50px;
}

.journey-style-placeholder-3 {
  z-index: 1;
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* accordions */
.accordion-button {
  border-radius: 20px;
  --bs-accordion-inner-border-radius: 20px;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-color: #FFFFFF;
  border: 1px solid #336273;
  background: linear-gradient(to right, #193D4A 0%, #1D5163 100%);
}

.accordion-button:not(.collapsed) {
  --bs-accordion-active-color: #FFFFFF;
  --bs-accordion-active-bg: transparent;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.7);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPg0KICA8cGF0aCBkPSJNMiA1TDggMTFMMTQgNSIvPg0KPC9zdmc+");
}

.accordion-button:not(.collapsed)::after {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPg0KICA8cGF0aCBkPSJNMiA1TDggMTFMMTQgNSIvPg0KPC9zdmc+")
}

.accordion-item {
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

.accordion-collapse {
  background-color: #193D4A;
}

.accordion-body {
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  background: linear-gradient(to right, #193D4A 0%, #1D5163 100%);
}

.accordion-header {
  margin: 13px 0;
}