.popularity-toggle {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #ccc;
    width: 80%;
    margin-bottom: 20px;
}

.toggle-option {
    flex: 1;
    padding: 8px 14px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    color: white;
    width: 50%;
}

.toggle-option.active {
    background-color: #007bff;
}

.toggle-option:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.05);
}