.select-react-select .form-label {
  font-size: 1rem;
  color: #2c3e50;
  margin-bottom: 5px;
}

.select-react-select {
  margin-bottom: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.option-title {
  font-size: 1rem;
  font-weight: 500;
  color: #2c3e50;
}

.option-description {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.custom-option:hover .option-title,
.custom-option:hover .option-description {
  color: #ffffff;
}

/* Ensure pointer cursor and prevent text selection */
.select-react-select {
  user-select: none;
  /* Prevent text selection */
}

.surprise-button {
  background-color: #facc15;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.1s;
}

.surprise-button:hover {
  transform: scale(1.05);
}

.reset-button {
  background-color: rgb(71, 126, 243);
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.1s;
}