.weight-inputs-container {
  display: flex; /* Flex container */
  flex-wrap: wrap; /* Allow items to wrap to new lines */
  gap: 10px; /* Space between items */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Center the container content */
}

.weight-item {
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Remove bottom margin */
}

.color-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.weight-label {
  margin-right: 10px;
  color: #ffffff;
}

.weight-input {
  padding: 5px;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: #193D4B;
  color: #ffffff;
  width: 60px;
  text-align: center;
}

/* Hide number input arrows (for browsers that show them) */
.weight-input::-webkit-outer-spin-button,
.weight-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.percent-sign {
  color: #ffffff;
}